元素选择器
p {   
    color: red;
    width: 500px;
    border: 1px solid black;
  }

/*多元素选择*/  
p, li, h1 {   
    color: red;
  }

 /*属性选择器*/ 
img[src] {
    /* color: red; */
    width: 500px;
    border: 1px solid black
  }

/*类选择器*/
p.editor-note {
    color: red;
    width: 100px;
    border: 1px solid black;
}

/*ID 选择器*/
#my-cat {
    color: rgb(0, 81, 255);
    width: 1000px;
    height: 22px;
    border: 1px solid black;
}

/*伪（Pseudo）类选择器*/
p:hover {   /*鼠标指针悬停*/
    color:saddlebrown;
}